    <div id="footer">
      <div class="container">
        <div id="disqus_thread"></div>
        <div class="row">
          <div class="col-md-4">
                <div style="margin: 0 auto;width:100%;text-align:center;">Patrocinado por</div>
                <img class="center-block" alt="logo" src="static/ndi.jpg">
          </div>
          <div class="col-md-4">
                <div style="margin: 0 auto;width:100%;text-align:center;">Desarrollado por</div>
                <img class="center-block" alt="logo" src="static/images/guatecambia.png">
          </div>
          <div class="col-md-4">
                <div style="margin: 0 auto;width:100%;text-align:center;"><a href="https://github.com/Guatecambia/ddah-congresoabierto" target="_blank"><i class="fa fa-github-alt"></i> Código en Github</a></div>
          </div>
        </div>
      </div>
    </div>
