    <div class="header">
      <div class="container">
        <h3 class="title"><a href="/"><img src="static/images/logo.jpg" alt="logo"/></a></h3>
        <ul class="nav nav-pills">

          {{ #flatpages }}
          <li><a href="{{url}}">{{title}}</a></li>
          {{ /flatpages }}
          <li><a href="https://drive.google.com/file/d/1P3VpqzB1rDYJhj6QBRVWMbNYtZoGYYV1/view?usp=sharing" target="_blank">Primer Plan de Congreso Abierto</a></li>
          <li><a href="https://drive.google.com/file/d/1Zc5iLUpbx_bQeNVCSE2ghDNFAOZokYrX/view?usp=sharing" target="_blank">Diagnóstico parlamento abierto 2016</a></li>
        </ul>
      </div>
    </div>
