    <style type="text/css">
 
      h3.title {
        margin: 9px 0 10px;
      }
 
      .nav {
        margin: 1px 0px 0px;
      }
 
      .hero-space h2 {
        margin: 70px 0 20px;
      }
 
      .socialnetwork-home {
        margin: 0 0 70px;
      }
 
      .hero-space {
        background: none;
      }
 
      .jumbotron img {
        max-height: 400px;
        width: 100%;
        height: auto;
      }
 
      .col-md-4.logo-fci {
        margin: -20px 0;
      }
 
      @font-face {
        font-weight: normal;
        font-style: normal;
      }
 
      @media screen and (max-width: 1200px) {
 
        .jumbotron img {
          opacity: 1;
        }
 
      }
body {
    background-color: {{ style.background_color }};
    font-family: 'Questrial', sans-serif;

}
#footer {
    background-color: #333333;
}
.dropdown-menu {
  background-color: #F5F5F5;
}
.progress {
  background-color: #E0E0E0;
}
.progress-bar {
  background-color: #C40869;
  color: #123D68;
}
.modal-body {
  background-color: {{ style.background_color }};
  color: #153F58;
  padding:20px 40px;
}
.modal-header {
  background-color: #FFFF01;
  color: #153F58;
  padding:15px 40px;
}

.b-color {
  background-color: {{ style.background_color }};
}
.category-menu li a {
  background: {{ style.second_color }};
}
.panel {
  background-color: {{ style.second_color }};
}
.panel-heading, .panel-body {
    padding:45px 50px;
}
.panel-default>.panel-heading {
  background-color: {{ style.second_color }};
}
.panel-body .read-more:before {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00{{ style.second_color }}', endColorstr='{{ style.second_color }}',GradientType=0 );
}
.read-more p.text-center.category-expander {
  background-color: {{ style.read_more_color }};
}

.read-less p.text-center.category-expander {
  background-color: {{ style.read_more_color }};
} 

.category-menu li a:hover {
  background: #E0E0E0;
  color:#000000;
}

.category-menu li a {
  background: #0062A3;
  padding: 5px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
}

.fa-chevron-down, .fa-chevron-up {
    color: #383838;
}

ul.list {
    margin-top:30px;
    padding-left:0px;
}

ul.list li{
    padding-top:10px;
    padding-bottom:10px;
}
.header a{
    color:#123D68;
}
.header a:hover {
    color:#fff;
}

    </style>
